/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainmenu li {
    position: relative;
    display: inline-block;
}
.mainmenu li a {
    display: block;
    color: #888;
    padding: 12px 15px;
    text-decoration: none;
    transition: .3s;
}
.mainmenu li a:hover{
    color: #ef476f;
}
.boxed-btn, input[type="submit"], button[type="submit"] {
    display: inline-block;
    background: #ef476f;
    color: #fff;
    padding: 12px 23px;
    border-radius: 2px;
    font-size: 14px;
    border: none;
}
.hero-area {
    font-weight: 300;
    padding: 150px 0;
    border-bottom: 1px solid #f7f7f7;
}
.hero-area h1 {
    font-size: 40px;
    max-width: 440px;
    margin-bottom: 20px;
    padding-top: 25px;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="url"], textarea {
    border: 1px solid #f0f0f0;
    padding: 10px 15px;
}
input[type="submit"], button[type="submit"] {
    padding: 11px 25px;
    font-weight: 400;
}
.website-checker-form {
    margin-top: 30px;
}
.header-area {
    padding: 20px 0;
}

.section-padding {
    padding: 115px 0;
}
.section-title {
    margin-bottom: 90px;
}
.single-service-box {
    border: 1px solid #fafafa;
    padding: 25px;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 50px;
    transition: .3s;
}
.service-icon {
    font-size: 30px;
    color: #5d5a5b;
}
.single-service-box h3 {
    font-size: 20px;
    margin: 15px 0;
}
.service-readmore-btn {
    color: #373737;
    font-weight: 400;
    display: inline-block;
    margin-top: 10px;
}
.service-readmore-btn i.zmdi {
    padding-left: 5px;
}
.single-service-box:hover {
    border-color: #EF476F;
}
.single-service-box:hover a.service-readmore-btn, .single-service-box:hover h3, .single-service-box:hover .service-icon {
    color: #EF476F;
}
.pdt-50 {
    padding-top: 50px;
}
h2 {
    font-size: 28px;
    line-height: 37px;
}
.pdt-50 .boxed-btn {
    margin-top: 15px;
}